html {
  font-size:12px;
  font-family: 'Oswald', sans-serif;
}

body {
  color: white;
  background-color: black;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  height: calc(100vh - 10px);
  display: grid;
  gap: 10px 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 10%;
  grid-template-areas:
    " header header header header"
    " . main main rightlinks "
    ". footer footer .";
  align-items: start;
  justify-items: center;
}

.header {
  font-size: calc(1rem + 0.8vw);
  width: 70%;
  grid-area: header;
  display: grid;
  align-self: start;
  margin-top: 5%;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.main {
  font-size: calc(1rem + 0.8vw);
  grid-area: main;
  text-align: center;
  transition: all 1s;
  cursor: pointer;
  
}

.social-links {
  margin-top: 10vh;
  justify-self: start;
  align-self: start;
  grid-area: rightlinks;
  transition: all 1s;
}

.socialBtn {
  margin: 1rem;
}
.social-svg{
  
  transition: transform 2s;
  
}
.social-svg:hover{
  transform: rotate(360deg);
}

.social-svg-mask:hover {
  fill:rgb(255, 255, 255) !important;
   
}
a {
  color: rgba(135, 135, 135, 0.705);
  text-decoration: none;
}
h5 {
  font-family: 'Exo 2', sans-serif;
  font-weight:100;
}

.projects, .projects >a {
  cursor:alias  ;
  font-weight:lighter ;
}
.top {
  margin: 1vh;
  padding: 5px 15px;
  text-align: center;
  transition: all 0.5s;
  color: rgba(135, 135, 135, 0.705);
}
.top:hover {
  cursor: pointer;
  color: transparent;
  text-shadow: rgb(255, 255, 255) 1px 0 00px;
}

.intro-effect {
  padding: 10px;
  width: 35ch;
  transition: all 0.3s;
  border: dashed 2px rgb(255, 255, 255);
}
.intro-effect:hover {
  cursor: pointer;
  transform: rotate(5deg);
  box-shadow: 10px 10px rgb(255, 255, 255);
  border: dashed 5px rgb(92, 92, 92);
}

.footer {
  font-size: calc(1rem + 0.3vw);
  font-family: "Courier New", Courier, monospace;
  grid-area: footer;
  transition: all 0.3s;
  align-self: start;

}

.footer:hover {
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 2px white;
}
