:root {
  --black: #181818;
  --grey: rgb(73, 73, 73);
  --white: #f5f7f7;
  --fade:  150ms;
}

[data-theme="light"]{
  --color-text: var(--black);
  --color-background: var(--white);
}

[data-theme="dark"]{
  --color-text: var(--white);
  --color-background: var(--black);
}

html {
  font-size:12px;
  font-family: 'Oswald', sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
  transition: var(--fade) color, var(--fade) background-color;
}

body {
  margin: 0px;
  box-sizing: border-box;
}

.container {
  height: calc(100vh - 10px);
  display: grid;
  gap: 10px 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 10%;
  grid-template-areas:
    " header header header header"
    " leftside main main rightside "
    ". footer footer .";
  align-items: start;
  justify-items: center;
}

.header {
  font-size: calc(1rem + 0.8vw);
  width: 70%;
  grid-area: header;
  display: grid;
  align-self: start;
  margin-top: 5%;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.main {
  font-size: calc(1rem + 0.8vw);
  grid-area: main;
  text-align: center;
  transition: all 1s;
  cursor: pointer;
  
}

.social-links {
  margin-top: 10vh;
  justify-self: start;
  align-self: start;
  grid-area: rightside;
  transition: all 1s;
}

.socialBtn {
  margin: 1rem;
}
.social-svg{
    transition: transform 2s;
  }
.social-svg:hover{
  transform: rotate(360deg);
}

.themeChanger{
  margin-top: 12vh;
  grid-area: leftside;
  justify-self: end;
  align-self: start;
}
.themeChanger:hover {
  cursor: pointer;
}
.social-svg-mask:hover {
  fill:var(--grey)!important;
   
}
a {
  color: var(--grey);
  text-decoration: none;
}
h5 {
  font-family: 'Exo 2', sans-serif;
  font-weight:100;
}

.projects, .projects >a {
  cursor:alias  ;
  font-weight:lighter ;
}
.top {
  margin: 1vh;
  padding: 5px 15px;
  text-align: center;
  transition: all 0.5s;
  color: var(--grey);
}

[data-theme="light"] .top:hover {
  cursor: pointer;
  color: transparent;
  text-shadow: var(--black) 1px 0 1px;
}
[data-theme="dark"] .top:hover {
  cursor: pointer;
  color: transparent;
  text-shadow: var(--white) 1px 0 1px;
}

.intro-effect {
  padding: 10px;
  width: 35ch;
  transition: all 0.3s;
  border: dashed 2px var(--grey);
}
.intro-effect:hover {
  cursor: pointer;
  transform: rotate(5deg);
  box-shadow: 10px 10px var(--white);
  border: dashed 5px var(--grey);
}

.footer {
  font-size: calc(1rem + 0.3vw);
  font-family: "Courier New", Courier, monospace;
  grid-area: footer;
  transition: all 0.5s;
  align-self: start;

}

.footer:hover {
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 1px var(--grey);
}

.aboutme {
  margin: 10%;
}